.form-group {
    margin-bottom: 15px;
    label {
        margin-bottom: 7px;
        color: $primary;
    }
    .form-control {
        padding: 6.5px 15px;
    }
}
  
label.control-label {
    font-size: 0.625rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    line-height: 1.6;
    color: $primary;
    margin-bottom: 7px;
}