.ng-select {

  .ng-select-container {
    color: #333;
    background-color: #fff;
    border-radius: var(--bs-border-radius);
    border: 1px solid var(--bs-border-color);
    min-height: 32.59px;
    align-items: center;
  }

  &:focus .ng-select-container {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
  &.is-valid .ng-select-container {
    border-color: #198754 !important;
  }
  &.is-valid.ng-select-focused .ng-select-container {
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
  }
  &.is-invalid .ng-select-container {
    border-color: #dc3545 !important;
  }
  &.is-invalid.ng-select-focused .ng-select-container {
    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
  }

}